h1{
  font-family: Futura;
  position: absolute;
  left:18%;
  font-size: 100px;
  color:white;

}
body{
    background-image: url("jordan.jpg");
    background-color: #cccccc;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
ul{
  list-style: none;
  font-family: Avenir;
  font-weight: bold;
  position: absolute;
  top:10%;

}

#old{
  z-index: -1;
}
