body{
  background-image: url("virgil.jpg");
  background-color: white;
  background-repeat:repeat-x;
  background-attachment: fixed;
  background-position: center;
}
/* h1{
  font-family: helvetica;
  font-size: 50px;
  color:black;
  position: relative;
  top:10%;
  left:13%;
} */
ul{
  font-size: 15px;
  list-style: none;
  position: relative;
  top:30%;
  font-family: helvetica;
}

div{
  position: relative;
  top:210px;
  left:230px;

}
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);




.info {
  color: white;
  font:1em/1 sans-serif;
  text-align: center;
}

.info a{
  color: white;
}

svg{
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: black;
  right:10%;
}


/* //back button */


.button {
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-family: helvetica;
  padding: 20px;
  width: 100px;
  height:25px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left:51%;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

video{
  position: absolute;
  left: 18%;
  bottom:20%;
}
