h2{
  font-family:helvetica;
  font-size:20px;
  margin:50px;

}
h3{
  font-family: helvetica;
  font-size: 10px;
  position: absolute;
  top:8%;
  left:4%;
}

p{
  font-family: helvetica;
  font-weight: bold;
  font-size: 70px;
  position: absolute;
  left:30%;
  top:25%;

}
#virgil{
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left:32.5%;
  top:29%;
}










.button {
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background:white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.container {
  position: relative;
  width: 25%;
  left:3.5%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:black;
  opacity: .5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .9s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  font-family:helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.two {
  position: relative;
  width: 25%;
  left:3.5%;
  float:right;
  margin-right: 50%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .9s ease;
}

.two:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  font-family:helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* adidas */
.button2 {
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top:35%;
    left:20%;
}

.button2:after {
    content: "";
    background:white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    top:35%;
    left:20%;
}

.button2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}























/* nike */
.three {
  position: relative;
  width: 25%;
  left:3.5%;


}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .9s ease;
}

.three:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  font-family:helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.button3 {
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top:35%;
    left:20%;
}

.button3:after {
    content: "";
    background:white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    top:35%;
    left:20%;
}

.button3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}














.four {
  position: relative;
  width: 50%;
  left:3.5%;
  float:right;
  margin-right: 25%;




}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .9s ease;

}

.four:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  font-family:helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.button4 {
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top:50%;
    left:34%;
}

.button4:after {
    content: "";
    background:white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    top:50%;
    left:34%;
}

.button4:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}




.five {
  position: relative;
  width: 25%;
  left:3.5%;
  float:left;

  bottom:10%;
}


.image {
  display: block;
  width: 100%;
  height: auto;
  top:300px;

}


.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .9s ease;


}

.five:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  font-family:helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.button5 {
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top:40%;
    left:20%;
}

.button5:after {
    content: "";
    background:white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    top:40%;
    left:20%;
}

.button5:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.six {
  position: relative;
  width: 25%;
  left:3.5%;
  float:left;





}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .9s ease;

}

.six:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  font-family:helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.button6 {
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top:50%;
    left:22%;
}

.button6:after {
    content: "";
    background:white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    top:50%;
    left:22%;
}

.button6:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
